/* --------- mixins --------- */
@mixin roboto($style : jenya) {
	@if $style == jenya {
		font-family: 'RobotoRegular';
	}

	@if $style == light {
		font-family: 'RobotoLight';
	}

	@if $style == med {
		font-family: 'RobotoMedium';
	}

	@if $style == bold {
		font-family: 'RobotoBold';
	}

	@if $style == boldItal {
		font-family: 'RobotoBoldItalic';
	}

	@if $style == pt {
		font-family: 'PTSerifBold';
	}
}

@mixin inlineblock ($valine: top) {
	display: inline-block;
	vertical-align: $valine;
}

@mixin clearfix {
	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin border-radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;

	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

@mixin box-shadow($string...) {
	-webkit-box-shadow: $string;
	-moz-box-shadow: $string;
	box-shadow: $string;
}

@mixin transition($transition...) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin placecolor($color: #000000) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}

@mixin vertical-gradient($top-color: #ffffff, $bottom-color: #000000) {
	background-color: $top-color;
	background-image: -webkit-gradient(linear, left top, left bottom, from($top-color), to($bottom-color)); /* Chrome, Safari 4+ */
	background-image: -webkit-linear-gradient(top, $top-color, $bottom-color); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
	background-image: -moz-linear-gradient(top, $top-color, $bottom-color); /* Firefox 3.6-15 */
	background-image: -o-linear-gradient(top, $top-color, $bottom-color); /* Opera 11.10-12.00 */
	background-image: linear-gradient(to bottom, $top-color, $bottom-color); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$top-color, EndColorStr=$bottom-color);
}

@mixin transform($transforms...) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

/* --------- centered --------- */

@mixin absolute-center {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}

/* --------- compass sprites --------- */

@mixin get-sprite($map, $sprite, $repeat: no-repeat, $height: true, $width: true) {
	$sprite-image: sprite-file($map, $sprite);
	$sprite-map: sprite-url($map);
	$sprite-position: sprite-position($map, $sprite);
	$sprite-layout: smart;

	background: $sprite-map $sprite-position $repeat;

	@if ($height == true) {
		$sprite-height: image-height($sprite-image);
		height: $sprite-height;
	}

	@if ($width == true) {
		$sprite-width: image-width($sprite-image);
		width: $sprite-width;
	}
}

/* --------- responsive mixins --------- */

@mixin desktop {
	@media screen and (max-width: 1200px) {
		@content;
	}
}

@mixin laptop {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin small_tablets {
	@media screen and (max-width: 640px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}

@mixin small_phones {
	@media screen and (max-width: 320px) {
		@content;
	}
}

@mixin main($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

// variable
$outline: 1px solid grey;

// adjustment
* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}

body {
	@include roboto(jenya);
	line-height: 1.6;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}
}

button, 
button:active, 
button:focus {
    outline: none;
}

input::-webkit-input-placeholder {color:#fff;}
input::-moz-placeholder {color:#fff;}/* Firefox 19 */
input:-moz-placeholder {color:#fff;}/* Firefox 18 */
input:-ms-input-placeholder {color:#fff;}

p {
	padding: 0;
	margin: 0;
}

// base style 
.main {
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	width: 100%;
}

// header top
.header {
	width: 100%;
	// height: 100vh;
	position: relative;
	@include clearfix;
	@include desktop {
		height: auto;
	}
	@include tablets {
		min-height: 480px;
	}
}

.header__top {
	overflow: hidden;
	color: #485d5e;
	height: 65px;
	width: 100%;
	position: fixed;
	z-index: 3;
	background-color: #f6f6f6;
	@include tablets {
		position: absolute;
		top: 0;
		background-color: transparent;
	}
}

.header__logo {
	margin-top: 12px;
	width: 100px;
	height: 40px;
	@include tablets {
		z-index: 1;
		margin-left: 30px;
	}
	@include phones {
		height: 25px;
	}
}

.header__logo-pic {
	@include absolute-center;
	max-width: 99%;
	max-height: 99%;
}

.header__nav {
	text-align: center;
	margin-left: 3%;
}	

.header__nav-list {

}

.header__nav-item {
	margin: 17px 24px;
	color: #485d5e;
	display: inline-block;
	@include roboto(med);
	@include desktop {
		margin: 17px 17px;
	}
	@include tablets {
		display: none;
	}
}

.header__nav-link {
	font-size: 17px;
	color: #485d5e;
	&:hover {
		color: #485d5e;
		text-decoration: none;
	}
}

// header bottom
.header__bottom {
	min-height: 730px;
	@include clearfix;
	position: relative;
	width: 100%;
	background: url('../img/header-back.jpg') no-repeat center top/cover;
	@include tablets {
		min-height: 480px;
	}
	@include phones {
		background: url('../img/head-mob.jpg') no-repeat center top/cover;
	}
}

.header__bottom-title {
	margin-bottom: 25px;
	text-align: center;
	color: #fff;
	margin-top: 100px;
	@include roboto(pt);
	font-size: 40px;
	@include laptop {
		margin-top: 100px;
		font-size: 30px;
	}
	@include tablets {
		margin-top: 85px;
		font-size: 24px;
		margin-bottom: 0;
	}
	@include phones {
		font-size: 15px;
		margin-top: 65px;
		line-height: 25px;
	}
	@include main(390px) {
		// font-size: 16px;
	}
}

.header__bottom-elem {
	@include clearfix;
	display: inline-block;
	@include laptop {
		width: 100%;
	}
}

.header__bottom-pic {
	position: relative;
	height: 390px;
	width: 625px;
	margin-left: 35px;
	float: left;
	@include desktop {
		height: 320px;
		width: 530px;
		margin-top: 70px;
	}
	@include laptop {
		width: auto;
		// height: auto;
		// max-height: 320px;
		max-width: 530px;
		float: none;
		margin: 40px auto;
	}
	@include tablets {
		 height: 240px;
	}
	@include phones {
		height: 130px;
		margin: 15px auto;
	}
}

.header__bottom-pic_elem {
	@include absolute-center;
	max-height: 99%;
	max-width: 99%;
}

// counter
.header__bottom-counter {
	float: left;
	margin-left: 45px;
	margin-top: 70px;
	@include laptop {
		float: none;
		margin: 60px auto;
		width: 350px;
	}
	@include tablets {
		margin: 60px auto 45px;
	}
	@include phones {
		margin: 0 auto 10px;
	}
}

.header__bottom-counter_wrap {
	height: 250px;
	width: 325px;
	background-color: #3b4e5f;
	border: 3.5px solid #6ea5ff;
	@include tablets {
		margin: 0 auto;
	}
	@include phones {
		border: 0 none;
		height: 120px;
		width: 305px;
		padding-top: 1px;
	}
}

.header__bottom-counter_title {
	color: #fff;
	text-align: center;
	font-size: 18px;
	margin-top: 25px;
	@include roboto(jenya);
	@include phones {
		display: none;
	}
}

.header__bottom-mobile_discount {
	display: none;
	@include phones {
		display: block;
		font-size: 26px;
		text-align: center;
		color: #fac151;
	}
}

.header__bottom-counter_discount {
	text-align: center;
	color: #6ea5ff;
	font-size: 28px;
	margin-top: -6px;
	@include phones {
		display: none;
	}
}

.header__bottom-counter_text {
	color: #fff;
	font-size: 15px;
	margin: 6px 0 10px 33px;
	@include phones {
		margin: 6px 0 6px 27px;
	}
}

// timer
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-center {
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.banner-info__item {
  width: 100%;
  max-width: 30rem;
  text-align: center;
  overflow: auto;
}
.timer, .time-name {
  float: right;
  width: 100%;
  max-width: 30rem;
  height: auto;
  overflow: hidden;
  text-align: center;
}
.timer li, .time-name li {
  width: 82px;
	display: flex;
	justify-content: center;
  text-transform: uppercase;
 	margin: 0 2px;
  font-size: 11px;
}

.timer li div, .time-name li div {
  background: url("../img/timer-bg.png") no-repeat center top/cover;
  width: 40px;
  height: 5.25rem;
  display: block;
  float: left;
  font-size: 4rem;
  @include roboto(jenya);
  color: #343434;
  line-height: 2rem;
  font-weight: bold;
  border-radius: 5px;
}
.timer li div span, .time-name li div span {
  position: relative;
  top: 1.6875rem;
}
.time-name {
  margin-bottom: 0.9375rem;
}
.time-name li {
  font-size: 11px;
  color: #ffffff;
  margin-top: 2px;
}

// header button
.header__bottom-button {
	width: 325px;
	height: 54px;
	background-color: #ff4343;
	border-radius: 5px;
	border: 0 none;
	color: #fff;
	font-size: 20px;
	position: relative;
	margin-top: 20px;
	@include tablets {
		margin: 20px auto;
	}
	@include phones {
		height: 32px;
		width: 185px;
		font-size: 14px;
		margin-left: 20%;
	}
}

.header__bottom-button_text {
	position: absolute;
	top: 9px;
	left: 60px;
	@include phones {
		left: 36px;
		top: 3px;
	}
}

.header__bottom-button_arrow {
	background: url('../img/header-bottom-arr.png') no-repeat center top/cover;
	display: inline-block;
	right: 65px;
	top: 23px;
	position: absolute;
	padding-top: 5px;
	width: 16px;
	height: 13px;
	@include phones {
		display: none;
	}
}

// section about
.about {
	min-height: 918px;
	background-color: #f3f0ee;
	position: relative;
	padding-top: 75px;
	@include desktop {
		min-height: auto;
	}
	@include laptop {
		padding-top: 50px;
		padding-bottom: 15px;
	}
	@include tablets {
		padding-bottom: 40px;
	}
	@include phones {
		padding: 38px 30px 38px;
	}
	@include small_phones {
		padding: 38px 25px 38px;
		overflow: hidden;
	}
}

.about .row {
	@include phones {
		background-color: #fff;
		box-shadow: 0px 0px 13px #ddd;
	}
}

.about__back {
	display: block;
	position: absolute;
	right: 0;
	top: 30px;
	width: 330px;
	height: 448px;
	@include desktop {
		width: 250px;
		height: 340px;
	}
	@include laptop {
		display: none;
	}
}

.about__title {
	text-align: center;
	@include roboto(pt);
	font-size: 30px;
	color: #485d5e;
	@include tablets {
		font-size: 22px;
		.br {
			display: none;
		}
	}
	@include phones {
		font-size: 18px;
		margin-bottom: 15px;
	}
}

.about__bottom {
	margin-top: 20px;
	@include clearfix;
	// display: inline-block;
	@include desktop {
		margin-top: 0;
	}
}

.about__bottom-pic {
	// background: url('../img/about-pic.png') no-repeat;
	width: 707px;
  height: 605px;
	float: left;
	position: relative;
	@include desktop {
		width: 540px;
	}
	@include laptop {
		width: 440px;
    height: 500px;
	}
	@include tablets {
		float: none;
		height: 415px;
		margin: 0 auto;
	}
	@include phones {
		display: none;
	}
}

.about__bottom-pic_elem {
	@include absolute-center;
	max-width: 99%;
	max-height: 99%;
}

.about__bottom-list {
	position: relative;
	float: left;
	margin-top: 210px;
	margin-left: 90px; 
	@include desktop {
		margin-left: 50px;
		margin-top: 140px;
	}
	@include laptop {
		margin-top: 95px;
    margin-left: 20px;
	}
	@include tablets {
		float: none;
		margin: 0 auto;
		width: 330px;
		padding-left: 30px;
	}
	@include phones {
		width: 280px;
		padding-left: 27px;
	}
}

.about__bottom-item {
	list-style: circle;
	line-height: 20px;
	margin: 13px 0;
	font-size: 16px;
	@include roboto(med);
	@include laptop {
		font-size: 15px;
	}
	@include phones {
		font-size: 14px;
		margin: 10px 0;
	}
}

// section video
.video {
	min-height: 782px;
	position: relative;
	background: url('../img/video-back.jpg') no-repeat;
	padding-top: 48px;
	@include desktop {
		min-height: auto;
		padding: 50px 0 75px;
	}
	@include laptop {
		padding: 40px 0 55px;
	}
	@include tablets {
		padding: 20px 0 45px;
	}
	@include phones {
		padding: 33px 0 35px;
	}
}

.video__title {
	font-size: 36px;
	@include roboto(pt);
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
	@include tablets {
		font-size: 28px;
	}
	@include phones {
		font-size: 18px;
		width: 270px;
		margin: 0 auto 55px;
	}
}

.video__text {
	font-size: 18px;
	@include roboto(med);
	color: #fff;
	text-align: center;
	margin-bottom: 57px;
	@include laptop {
		margin-bottom: 35px;
	}
	@include phones {
		display: none;
	}
}

.video__movie {
	margin: 0 auto;
	width: 615px;
	height: 370px;
	border: 2px solid #252526;
	background-color: rgba(#000, .5);
	margin-bottom: 18px;
	@include tablets {
		width: 440px;
		height: 280px;
	}
	@include phones {
		width: 305px;
		height: 185px;
		margin-bottom: 40px;
	}
	@include main(380px) {
		width: 250px;
		height: 125px;
	}
}

.video__catalog {
	width: 325px;
	height: 54px;
	margin: 0 auto;
	& button {
		margin-top: 0;
		@include phones {
			margin-left: 0;
			margin-bottom: 0;
		}
	}
	@include phones {
		width: 185px;
		height: 35px;
	}
}

// gallery area
.gallery {
	min-height: 796px;
	background-color: #f3f0ee;
	padding-top: 80px;
	position: relative;
	@include laptop {
		padding: 40px 0 50px;
	}
	@include phones {
		min-height: auto;
		height: auto;
		padding: 40px 0 40px;
	}
}

.gallery .row {
	padding-left: 35px;
	@include phones {
		padding-left: 5px;
	}
}

.gallery__title {
	@include roboto(pt);
	font-size: 36px;
	text-align: center;
	@include tablets {
		font-size: 28px;
	}
	@include phones {
		font-size: 18px;
		margin-bottom: 15px;
	}
}

.gallery__text {
	@include roboto(med);
	font-size: 18px;
	text-align: center;
	color: #6ea5ff;
	margin-bottom: 70px;
	@include laptop {
		margin-bottom: 35px;
	}
	@include tablets {
		width: 400px;
		margin: 0 auto 35px;
	}
	@include phones {
		width: 310px;
		font-size: 16px;
	}
}

.gallery__elem {
	height: auto;
	@include clearfix;
}

// gallery preview
.gallery__prev {
	width: 405px;
	height: 400px;
	float: left;
	position: relative;
	@include laptop {
		float: none;
		margin: 0 auto;
	}
	@include phones {
		width: 300px;
		height: 300px;
	}
}

.gallery__prev-pic {
	position: relative;
	width: 405px;
	height: 295px;
	border: 1px solid #9fa9af;
	@include phones {
		height: 220px;
		max-width: 300px;
	}
}

.gallery__prev-pic_img {
	@include absolute-center;
	max-height: 100%;
	max-width: 100%;
}

.gallery__prev-list {
	@include clearfix;
	margin-top: 21px;
	height: 75px;
	max-width: 100%;
	@include laptop {
		margin-top: 15px;
	}
	@include phones {
		height: 50px;
		width: 207px;
		margin: 10px auto 0;
	}
}

.gallery__prev-item {
	width: 25%;
	height: 100%;
	position: relative;
	border: 1px solid #9fa9af;
	float: left;
	cursor: pointer;
}

.gallery__prev-item_img {
	@include absolute-center;
	max-height: 100%;
	max-width: 100%;
}

// gallery description
.gallery__descr {
	margin-top: -10px;
	position: relative;
	width: 510px;
	height: 460px;
	float: right;
	margin-right: 75px;
	@include desktop {
		width: 450px;
		margin-right: 15px;
	}
	@include laptop {
		float: none;
		margin: 0 auto;
		padding-left: 20px;
		margin-top: 16px;
	}
	@include tablets {
		width: 430px;
	}
	@include phones {
		height: auto;
		width: 310px;
		padding-left: 0;
	}
}

.gallery__descr-list {

}

.gallery__descr-item_title {
	@include roboto(bold);
	font-size: 22px;
	margin-bottom: 10px;
	@include tablets {
		font-size: 18px;
	}
}

.gallery__descr-item {
	font-size: 14px;
}

.gallery__descr-item_text {
	font-size: 14px;
	margin-top: 15px;
	margin-bottom: 35px;
	@include laptop {
		margin-bottom: 20px;
	}
}

.gallery__descr-item_price {
	font-size: 20px;
	font-weight: bold;
}

.old__price {
	position: relative;
	display: inline-block;
	@include phones {
		display: none;
	}
}

.old__price-line {
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: #fd6463;
	bottom: 40%;
}

.new__price {
	color: #fd6463;
	margin-left: 50px;
	@include phones {
		margin-left: 0;
	}
}

.gallery__descr-item_button {
	height: 37px;
	font-size: 16px;
	margin-top: 25px;
	@include clearfix;
	@include laptop {
		margin-top: 15px;
	}
	@include phones {
		position: relative;
		text-align: center;
		height: auto;
	}
}

.gallery__descr-item_buy {
	width: 229px;
	display: inline-block;
	border: 0 none;
	background-color: #ff4343;
	border-radius: 5px;
	color: #fff;
	height: 100%;
	padding: 4px 50px;
	&:hover {
		text-decoration: none;
		color: #1a1a1a;
	}
	@include desktop {
		padding: 4px 37px;
		width: 200px;
	}
	@include phones {
		margin-bottom: 12px;
		height: 37px;
	}
}

.gallery__descr-item_size {
	height: 100%;
	display: inline-block;
	width: 229px;
	border: 0 none;
	color: #1a1a1a;
	background-color: #fff;
	border-radius: 5px;
	padding: 4px 38px;
	float: right;
	&:hover {
		text-decoration: none;
		color: #1a1a1a;
	}
	@include desktop {
		padding: 4px 25px;
		width: 200px;
	}
	@include phones {
		float: none;
		height: 37px;
	}
}

// work area
.work {
	min-height: 575px;
	background: url('../img/relations-back.jpg') no-repeat center top/cover;
	padding-top: 80px;
	@include laptop {
		padding: 60px 0 65px;
		min-height: auto;
	}
	@include phones {
		padding: 42px 0 55px;
		background: url('../img/03.jpg') no-repeat center top/cover;
	}
}

.work__title {
	@include roboto(pt);
	font-size: 36px;
	color: #fdfdfd;
	text-align: center;
	margin-bottom: 5px;
	@include laptop {
		font-size: 28px;
	}
	@include phones {
		font-size: 18px;
		margin-bottom: 18px;
	}
}

.work__text-top {
	@include roboto(med);
	font-size: 18px;
	color: #fdfdfd;
	text-align: center;
	width: 715px;
	margin: 0 auto;
	margin-bottom: 70px;
	@include laptop {
		width: auto;
		font-size: 16px;
		margin-bottom: 60px;
	}
	@include tablets {
		margin-bottom: 40px;
		width: 90%;
	}
	@include phones {
		margin-bottom: 28px;
		max-width: 360px;
	}
	@include small_phones {
		font-size: 14px;
	}
}

.work__list {
	@include clearfix;
	max-width: 890px;
	margin: 0 auto 55px;
	@include laptop {
		margin-bottom: 10px;
	}
	@include tablets {
		width: 90%;
	}
}

.work__item {
	float: left;
	width: 25%;
	text-align: center;
	position: relative;
	@include tablets {
		padding: 5px;
	}
	@include phones {
		width: 50%;
		margin-bottom: 15px;
	}
}

.work__item-line {
	height: 1px;
	width: 100%;
	background-color: #4b576b;
	position: absolute;
	bottom: 35%;
	@include tablets {
		display: none;
	}
}

.work__item-circle {
	background-color: #a9caff;
	height: 10px;
	width: 10px;
	border-radius: 100%;
	position: absolute;
	left: 48%;
	bottom: 31%;
	@include tablets {
		display: none;
	}
}

.work__item-check {
	margin-bottom: 7px;
	@include tablets {
		margin-bottom: 12px;
	}
}

.work__item-text {
	color: #fdfdfd;
	font-size: 14px;
	text-align: center;
	line-height: 45px;
	@include laptop {
		font-size: 15px;
	}
	@include tablets {
		.br {
			display: block;
		}
		line-height: 16px;
	}
}

.work__text-bottom {
	font-size: 16px;
	color: #86b4ff;
	width: 605px;
	@include roboto(boldItal);
	margin: 0 auto;
	text-align: center;
	@include tablets {
		width: 80%;
	}
	@include phones {
		max-width: 330px;
	}
	@include small_phones {
		font-size: 14px;
	}
}

// reviews area
.reviews {
	min-height: 630px;
	background: url('../img/reviews-back.jpg') no-repeat center top/cover;
	padding-top: 85px;
}

.reviews__title {
	font-size: 36px;
	color: #383738;
	@include roboto(pt);
	text-align: center;
	margin-bottom: 62px;
	@include phones {
		font-size: 18px;
	}
}

.reviews__gallery {
	min-height: 325px;
	max-width: 610px;
	position: relative;
	margin: 0 auto;
	padding: 5px 0 0 0;
}

.reviews__gallery-item {
	width: 610px;
	height: 325px;
}

.reviews__gallery-head {
	width: 270px;
	height: 90px;
	background-color: #f7f7f7;
	margin: 0 auto;
	position: relative;
	box-shadow: 0px 1px 20px #bbc;
	@include clearfix;
}

.reviews__gallery-pic {
	height: 95px;
	width: 95px;
	// position: absolute;
	float: left;
	border-radius: 100%;
	// left: -46px;
	// top: -2px;
	margin-left: -46px;
	margin-top: -2px;
	box-shadow: 0px 0px 12px #777;
}

.reviews__gallery-name {
	margin-left: 80px;
	padding-top: 15px;
}

.reviews__gallery-name_text {
	@include roboto(pt);
	font-size: 20px;
	color: #3b4e5f;
}

.reviews__gallery-name_stars {
	width: 91px;
	height: 12px;
	margin: 3px 0 0 24px;
}

.head__red {
	height: 100%;
	width: 9px;
	background-color: #fe4343;
	position: absolute;
	right: 0;
	top: 0;
}

.reviews__gallery-body {
	height: 170px;
	width: 590px;
	background-color: #f7f7f7;
	box-shadow: 0px 0px 12px #404040;
	margin-top: 20px;
	position: relative;
	padding-top: 40px;
	border: 1px solid #c0c0c0;
}

.reviews__gallery-body_text {
	text-align: center;
	font-size: 16px;
	width: 490px;
	margin: 0 auto;
	line-height: 18px;
}

.body__red {
	height: 170px;
	width: 10px;
	position: absolute;
	left: -1px;
	top: -1px;
	background-color: #fe4343;
}

.reviews__gallery-dots {
	height: 11px;
	width: 70px;
	margin: 20px auto 0;
	position: relative;
	// display: inline-block;
	& .active {
		background-color: #fe4343;
	}
}

.reviews__gallery-dots_item {
	display: inline-block;
	width: 11px;
	height: 11px;
	border: 1.5px solid #42454c;
	margin: 0 5px;
	background-color: #f3f0ee;
}




// reminder area
.reminder {
	min-height: 680px;
	background: url('../img/reminder-back.jpg') no-repeat center top/cover;
	@include phones {
		min-height: auto;
		padding-bottom: 35px;
	}
	& .header__bottom-counter {
		margin-top: 50px;
		@include laptop {
			margin-top: 70px;
		}
	}
}

.reminder {

}




.empty {
	height: 60px;
}
// section footer
.footer {
	position: relative;
	margin-top: -60px;
	min-height: 60px;
	background-color: #f3f0ee;
	font-size: 14px;
	color: #101010;
	@include clearfix;
}

.footer .row {
	padding: 18px 170px;
	@include laptop {
		padding: 18px 10px;
	}
	@include tablets {
		text-align: center;
	}
}

.footer__conf {
	float: left;
	color: #101010;
	&:hover {
			text-decoration: none;
	}
	@include tablets {
		float: none;
	}
}

.footer__copy {
	float: right;
	@include tablets {
		float: none;
	}
}

// style for responsive
.br {
	display: block;
	@include tablets {
		display: none;
	}
}

.bold {
	font-weight: bold;
}

.br__tablets {
	display: none;
	@include tablets {
		display: block;
	}
	@include phones {
		display: none;
	}
}

.br__phones {
	display: none;
	@include phones {
		display: block;
	}
}

.br__mobile {
	display: none;
	@include tablets {
		display: block;
	}
}

.medium {
	font-weight: 900;
}

.owl-carousel .owl-item img {
	width: auto;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
	opacity: 0;
}